* {
    margin: 0;
    font-family: 'Andika', sans-serif;
}

.container {
    width: 100%;
    background-color: #100F27;
}

header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    height: 60px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}

.phone {
    font-size: 18px;
    color: rgb(15, 19, 31);
}

/* начало модального окна*/

.call {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    margin-top: 20px;
    color: #383434;
    position: fixed;
    top: -20px;
    left: 0;
    background-color: rgba(10, 10, 26, 0.884);
    
}

.call form {
    width: 30%;
    position: fixed;
    top: 35%;
    left: 35%;
}
/*конец модального окна*/


.gallery__image_phone {
    height: 55px;
    width: 240px;
    background-size: contain;
    background-repeat: no-repeat;
}

.text_number {
    margin-left: 45px;
    text-decoration: none;
    color: #fffcf2;
    font-size: 18px;
}
.text_number1 {
    margin: auto;
    text-decoration: none;
    color: #fffcf2;
    font-size: 18px;
}

.head {
    background-image: url(../images/head.png);
    background-size: cover;
    padding-bottom: 100px;
}
/*начало меню*/
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 5%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .40s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}


/*подложка меню начало*/

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #111049e3;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .30s;
}

.menu__item {
    text-align: left;
    display: block;
    padding: 2% 9%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: .25s;
}


/*подложка меню конец*/


.gallery__image_clock {
    width: 28px;
    margin-top: -10px;
}

.menu__item:hover {
    background-color: rgb(190, 192, 253);
}
/*конец меню*/

.content {
    
    width: 100%;
    max-width: 1240px;
    min-width: 320px;
    margin: auto;
    height: 100%;
}

/*начало галереи*/
.gallery {
    width: 90%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.gallery a {
	display: block;
	width: 50%;
	float: left;
	position: relative;    
	line-height: 0;
}

.gallery a:after {
	content: "";
	transition:  0.5s ease-in-out;
}

.gallery a:hover:after {
	position: absolute;
	top: 50%;    
	left: 0;   
	display: block;
	width: 100%;
	height: 30%;    
	background: transparent;
	background-image: linear-gradient(to right, #0e0d1f, #02005e27); 
	opacity: 0.8;    
}

.gallery a:before {
	content: "";
	opacity: 0;    
	transition:  0.5s;
}

.gallery img {
	width: 100%;
	height: auto;
}
/*конец галереи*/

.content h2 {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/*начало формы обратной связи*/
.send {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    color: #383434;
}

input[type="text"] {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: #fffcf2;
    color: #383434;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    text-indent: 55px;
}

textarea {
    width: 100%;
    max-height: 400px;
    min-height: 100px;
    resize: vertical;
    border-radius: 4px;
    border: none;
    background-color: #fffcf2;
    color: #383434;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    text-indent: 55px;
    padding-top: 10px;
}


input:focus, textarea:focus {
    box-shadow: 0 0 6px rgb(255, 255, 255);
}

input[type="submit"] {
    display: block;
    width: 50%;
    margin: 20px auto 0 auto;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: #100F27;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}

.banner__name {
    background: url(../images/7.png) 5px 5px  no-repeat;
    background-size: 45px;
}

.banner__email {
    background: url(../images/8.png) 5px 5px  no-repeat;
    background-size: 45px;
}

.banner__phone {
    background: url(../images/9.png) 5px 5px  no-repeat;
    background-size: 45px;
}

.banner__text {
    background: url(../images/10.png) 5px 5px  no-repeat;
    background-size: 50px;
    background-color: #fffcf2;
}
/*конец формы обратной связи*/

/*кнопка Заказать звонок начало*/

button {
    width: 255px;
    height: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: #2C529B;
    padding-left: 0;
    border-radius: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
}

button:hover {
    outline: none;
}

button:active {
    outline: none;
    box-shadow: 0 0 6px rgb(255, 255, 255);
}


.preview {
    width: 40%;
    padding: 2%;
    margin-top: 5%;
    background-color: #111049d2;
}

.preview h1 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
    color: #ffffff;
}

.preview p {
    font-size: 18px;
    padding-bottom: 20px;
    color: #ffffff;
}


/*кнопка Заказать звонок конец*/

.contacts {
    width: 100%;
    margin: auto;
    text-align: center;
}

.contacts p {
    font-size: 18px;
    color: #ffffff;
    padding: 30px;
}